* {
    margin: 0%;
    padding: 0%;
}

main {
    background-color: #d5f6fc ;
}

.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  color: white;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #33308C;

  width: 650px;
  font-size: 30px;
  line-height: 90%;
}

.imagemLogo {
    margin-top: -5px;
    margin-right: 10px ;
    margin-left: 10px ;
    
}

.headerClass {
    height: 110px;
    background: linear-gradient(170deg, #04a6e0, #a7dbcb, #f8902e);
    
    display: flex;
    align-items: center;
}

.infoPequena {
    width: 1140px;
    text-align: end;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;

    display: flex;
    align-self: end;
    flex-direction: column;
}

.fotosClass {
    display: flex;
    justify-content: center;
    
    .fotosFeira {
        margin-top: 20px;
        filter: brightness(70%);
        width: 95%;
    }
    
    .logoFeira {
        position: relative;
        filter: drop-shadow(1px 1px 4px white) drop-shadow(-1px -1px 3px white);
    
        height: 600px;
    }
}


    .galeria_de_cursos{
         display: flex;
        width: 100%;
        height: 25rem;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5cm;
        justify-content: center;

        .carta_curso{
            width: 30%;
            display: flex;
            flex-direction: column; 
            background:linear-gradient(170deg, #f3ffff, #bae2ff, #86d1ff );
            height: 9rem;   
            gap: 5px;
            border-radius: 20px;
            border-style:solid;
            border-width: 1px;
            border-color: #3ea4d3;
            padding: 10px;

            .apresenta{
               display: flex;
               flex-direction: row; 
               font-size:13px;
               align-items: center;    
               gap: 5px; 


            }
            .img_curso{
                width: 50px;
                
            }
            .descri{
                display: flex;
                width: 100%;
                height: 100rem;
                font-size: 12px;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .carta_curso:hover{
            opacity: 90%;
            transition: all 1.0s;
        }
}